svg {
  border:1px solid;
}
body {
  margin: 0;
  padding: 0;
  background: #66CEDE;
  color: #fff;
  font-family: "Avenir Next", "Avenir", sans-serif;
}
.change {
  position:absolute;
  bottom: 5%;
  right: 2%;
  width: 300px;
  padding: 25px;
  background: #54B1BF 0% 0% no-repeat padding-box;
  border: none;
  color: white;
  border-radius: 21px;
  text-align: center;
  font: normal normal normal 21px/25px Montserrat;
}
.dBg {
  background-color: #00AEB6;
}
.dBg h1, .dBg section, .dBg h5 {
  display: flex;
  justify-content: center;
}
.dBg h1 {
  font: normal normal 800 60px/73px Montserrat;
  margin-top: 80px;
  margin-bottom: 0px;
}
.bubbel1 {
  position: absolute;
  width: 110px;
  left: 355px;
  top: 235px;
}
.bubbel2 {
  position: absolute;
  top: 70px;
  right: 185px;
}
.dBg .button {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  width: 261px;
  padding: 25px;
  background: #029096 0% 0% no-repeat padding-box;
  color: white;
  border-radius: 21px;
  text-align: center;
  font: normal normal normal 21px/25px Montserrat;
}
.dBg h5 {
  margin-bottom: 0px;
  font: normal normal bold 21px/25px Montserrat;
}
.dBg  p {
  font: normal normal normal 21px/25px Montserrat;
  width: 781px;
  text-align: center;
}
.avatar {
  margin-bottom: 35px;
}
.avatar a {
  background-color: #19CCD5;
  padding: 65px;
  margin: 15px;
  border-radius: 21px;
}

#menu {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 0;
  position: absolute;
  width: 1450px;
  height: 550px;
  margin: 100px;
  border-radius: 21px;
  background: #02AEB6;
}
 .row {
  margin: 0px 150px;
  display: flex;
  justify-content: space-between;
}
.row:first-child {
  margin-top: 75px;
}
.row:last-child {
  margin-bottom: 75px;
}
.row section {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 20px;
}
h3 {
  margin: 0;
  font: normal normal normal 29px/35px Montserrat;
}
.value {
 top: -15px;
 position: relative;
 margin-left: 5px;
 font: normal normal normal 29px/35px Montserrat;
}
input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 300px;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #54B1BF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}​
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
  }
  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
  }

